<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <pre>
  +-+-+ +-+-+-+-+-+-+-+
  |4|.| |C|r|e|d|i|t|s|
  +-+-+ +-+-+-+-+-+-+-+

  **  Group project  **

  School : Vives Oostende
  Course : WebApplications
  Class  : Bachelor Electronics - Information Communication Technology
           Year 3
           2016-2017
  Group  : David Lejeune, Niels Van Vlaenderen, Milan Lamote and Nicolas Vandenbroucke
</pre>
</p>
