<% provide(:title, "Home") %>
<div class="welcome-callout">
  <h1>Welcome to the Lorawan GPS Mapper</h1>
  <p>
    This is the home page for the Lorawan GPS Mapper application.
  </p>
  <a href="/signup" class="button large">Sign up now!</a>
</div>
