<% provide(:title, "Home") %>
<div class="welcome-callout">
  <h1>Welcome to the Sample App</h1>
  <p>
    This is the home page for the Ruby on Rails Tutorial sample application.
  </p>
  <a href="/signup" class="button large">Sign up now!</a>
</div>
