<% provide(:title, "Home") %>
<div class="welcome-callout">
  <pre>
#############################################################
 #       _           _____    __          __     _   _       #
 #      | |         |  __ \   \ \        / /\   | \ | |      #
 #      | |     ___ | |__) |__ \ \  /\  / /  \  |  \| |      #
 #      | |    / _ \|  _  // _` \ \/  \/ / /\ \ | . ` |      #
 #      | |___| (_) | | \ \ (_| |\  /\  / ____ \| |\  |      #
 #      |______\___/|_|  \_\__,_| \/  \/_/    \_\_| \_|      #
 #                                                           #
 #   __ _ _ __  ___   _ __ ___   __ _ _ __  _ __   ___ _ __  #
 #  / _` | '_ \/ __| | '_ ` _ \ / _` | '_ \| '_ \ / _ \ '__| #
 # | (_| | |_) \__ \ | | | | | | (_| | |_) | |_) |  __/ |    #
 #  \__, | .__/|___/ |_| |_| |_|\__,_| .__/| .__/ \___|_|    #
 #   __/ | |                         | |   | |               #
 #  |___/|_|                         |_|   |_|               #
 #                                                           #
 #############################################################
</pre>
  <p>
    This is the home page for the Lorawan GPS Mapper application.
  </p>
  <a href="/signup" class="button large">Sign up now!</a>
</div>
