<% provide(:title, "map") %>
<head>
    <meta charset='utf-8' />
    <title>map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.27.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.27.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute;right:150px; top:50px; bottom:0; width:80%;height:80%; }
        .mapboxgl-marker {position: absolute; top: 0; left: 0 ; will-change: transform ; width: 30px;height: 30px; 
          background-image: url("http://www.clker.com/cliparts/B/B/1/E/y/r/marker-pin-google.svg"); background-size: 30px 30px;}
    </style>
</head>
<body>

<div id='map'></div>


</body>
