/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'foundation';
$topbar-background: #45464a;

 .welcome-callout{
   @include callout-style ($secondary-color);

   padding : 4em;
   margin: 2em;
   text-align: center;
 }

 .top-bar{
   .menu-text{
     color: #bdb7ab;
   }
 }

.element.style{
  background-color: #cbc6b6;
}

.debug_dump{
  @include callout-style($secondary-color);
  padding : 1em;
  margin: 2em;
}


#map { position:absolute;right:150px; top:70px; bottom:0; width:80%;height:80%; }



.mapboxgl-marker {position: absolute; top: 0; left: 0 ; will-change: transform ; width: 30px;height: 30px;
  background-image: url("http://www.clker.com/cliparts/B/B/1/E/y/r/marker-pin-google.svg"); background-size: 30px 30px;}

#footer {
      position:fixed;
      bottom:0px;
  }
