<hr>
<div class="small-6 columns">
  Milan Lamote
</div>

<div class="small-6 columns">
  <ul class="menu align-right">
    <li><%= link_to "About" , about_path %></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">News</a></li>
</ul>
</div>
